@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: 'Montserrat', sans-serif;
  background: black;
  background-size:cover;
}

main{
    margin:0 auto;
    max-width:1200px;
}

.square{
  align-items: flex-end;
}

.moon{
  background:url(img/moon.png);
}

.mercury{
  background:url(img/neptune.png);
}

.venus{
  background:url(img/uranus.png);
}

.trips .square{
  background-size:200%;
  background-position: center;
  height:33vw;
  flex-direction: column;
}

div.right{
  align-self: flex-end;
  text-align:right;
}

div.left{
  align-self: flex-end;
}

h3, h4{
  display:inline-block;
  width:100%;
  text-transform:uppercase;
}

h2{
  color:white;
  font-size: 2em;
  text-align:center;
}

.square h3{
  font-size: .85em;
  font-weight:bold;
}

.square h4{
  font-size: .75em;
  font-style:italic;
}

.text{
  padding:3px 5px 0 ;
  background:rgba(105,105,105,0.5);
}

.amentities .column{
  text-align:center;
  color:white;
}

